*{
    margin: 0;
    padding: 0;
}


.modifier{
    color: blue;
    cursor: pointer;
}
.supprimer{
    color: red;
    cursor: pointer;
}
.error{
    color:red;
    font-size: 13px;
    font-weight: bold;
}
h3{
    padding-top: 10px;
   color: darkgreen;
    font-size: 40px;
  margin-bottom: 16px;
  margin-left: 20px;
}
.liste{
    padding: 10px;
   height: 318px;
  margin-top: 20px;
overflow-y: scroll;
   border-radius: 10px;
   box-shadow: 4px 4px 7px;
}

.dolist{
width: 50%;
margin: 10px auto;


border-radius: 10px;
padding-left: 2px;



}
#btn{
    margin-left: 10px;
border: none;
font-size: 16px;
border-radius: 10px;
background-color: transparent;
border: 2px solid green;

padding: 6px 10px;
}
.divli{
    background-color: transparent;
    display: flex;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid orange;
    padding: 5px;
    width: 90%;
  
}

.divli:hover{
background-color: rgba(181, 181, 181, 0.269);

}

.lis{
list-style-type: none;
width: 500px;
padding: 10px;


  
}
.divli span{
   margin-left: 10px;
   padding: 10px;
}
.tache::placeholder{
    color:black;
  
}
.tache{
    color:orange;
}

#entrenom{
    outline: none;
padding: 10px;
border: none;
border-radius: 10px;
width: 300px;
background-color: transparent;
border: 1px solid green;
margin-left: 20px;

}


@media ( max-width:950px ) {
    .dolist{
        width: 70%;
    }
   #entrenom{
       width: 200px; 
    }
    h3{
        font-size: 30px;
    }
}
